In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('advertising.csv')

In [4]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
df.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

In [6]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [13]:
X= df[['TV']]

In [9]:
y=df['Sales']

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [35]:
from sklearn.linear_model import LinearRegression
linear=LinearRegression()

In [36]:
##create model or now i have value of m and c / do mathematical calculations
linear.fit(X_train,y_train)

LinearRegression()

In [40]:
linear.coef_

array([0.05569894])

In [39]:
linear.intercept_

7.1270126561338145

In [45]:
linear.predict(X_test)

array([16.22265027, 18.01058638, 23.44123346,  7.77869031, 19.3974901 ,
       11.31000338, 19.20254379,  9.91195987, 19.51445788, 16.87989781,
        8.8815294 , 10.25729333, 20.18841511,  7.42778696, 14.89701539,
       16.60697298,  7.53361495, 18.13312406, 11.32114317, 20.34994205,
       19.90992038, 10.90340108,  9.24357254, 21.10187779, 10.97023982,
       10.10690618, 19.01873728, 14.8858756 , 11.9839606 ,  7.59488379,
       18.25566174, 10.98137961, 18.20553269,  8.06832482, 22.76170634,
       20.3945012 ,  9.81727167, 22.37181373, 13.65492893,  8.65873363,
       13.5880902 , 16.98572581,  9.52763716, 10.59705689, 19.60357619,
        9.25471233, 11.05935813, 15.33146716, 12.95312224, 11.37684211,
       11.4826701 , 16.50671488,  7.61159347,  7.56146442, 11.382412  ,
       14.33445606, 11.21531517, 23.26299683,  8.21871197, 18.13312406,
       22.96222254, 17.42574747, 13.41542347,  8.45264753, 23.31869578,
        8.20757218])

In [42]:
linear.predict([[250]])

C:\Users\97798\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([21.05174874])

In [43]:
l=[45,100,150,200]
for i in l:
    print(linear.predict([[i]]))

[9.63346515]
[12.69690709]
[15.48185431]
[18.26680153]

C:\Users\97798\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\97798\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\97798\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\97798\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [32]:
# def gd(X,y,n):
#     m=3
#     c=2
#     alpha=0.01
#     len=X.shape[0]
#     for r in range(n):
#         y_pred=m*X+c
#         cost=(1/len)*((y_pred-y)**2).sum()
#         print('Cost:',cost)
#         m=m-(alpha/len)*((y-y_pred)*X).sum()
#         m=m-(alpha/len)*((y-y_pred)).sum()
#         print('m and c : ',m,c)
#         if cost<1:
#             plt.scatter(x,y)
#             plt.plot(X,y_pred)

In [46]:
linear.score(X_test,y_test)

0.8025872552039545